@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.container {
  width: 900px;
  margin: 0 auto;
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 500px;
    margin: 0 auto;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 400px;
    margin: 0 auto;
  }
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
  color: #2C2891;
  font-size: 32px;
  font-weight: 900;
}

p {
  font-family: 'Poppins', sans-serif;
  color: #39A388;
  margin: 30px;
  padding:10px;
}

a {
  font-family: 'Poppins', sans-serif;
  color: #1C7947;
}

.btn-purple {
    padding: 16px;
    background: #a785a7;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin: 8px;
    display: inline-block;
    transition: ease 0.8s;
}

.btn-purple:hover {
  background: white;
  color: #a785a7;
  transform: scale(1.2)
}

body {
  color: #677b9b
}

.img-circle {
  border-radius: 50%;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  padding: 0px 20px;
  text-align: center;
  vertical-align: baseline;
}

.list-inline > li {
  display: inline-block;
  padding: 30px;
  font-size: 50px;
  transition: ease 0.8s;
}

.list-inline > li:hover {
  transform: scale(1.5);
}

.list-inline > li > a:hover {
  color: #4dd62b;
}

.card-grey {
  background: #d6ebf5;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  padding: 30px;
  border: 1px solid lightgrey;
  border-radius: 30px
}

.text-center {
  text-align: center;
}
